extends layout

block content
    .row.page-header
        .col-lg-12
    form
        .form-group
            label.col-xs-10.col-sm-2.control-label(for='name') edit me!
            textarea.form-control make edit here
        .row
            .col-sm-6
        button(onclick='savedResponse()') save
        button(onclick='deletedResponse()') delete
